

.paws {    
    position: absolute;
    width: 289px;
    height: 100%;
    background-image: url('./img/paws.svg');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    top: 0px;
    right: 76px;
}

.gridContainer {
    display: grid;
    font-family: "Inter", serif;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 40px 160px;
}

