.searchLeft {
    background-color: aqua;
    width: 300px;
    position: sticky;
    height: 100vh;
}

.titleFilterMenu{
    font-weight: 400;
    font-size: 20px;
}

.filterSelection{
    font-size: 20px;
    color: darkblue;
}

.filterCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .filterCard.selected {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
  }
  